.shc-section {
    background-color: #f9f9f9; /* Light gray background */
    padding: 40px 20px;
    text-align: center; /* Center-align text */
    direction: rtl; /* Right-to-left text direction for Arabic */
    color: #0a1e2b; /* Dark navy color for text */
  }
  
  .shc-section h2 {
    font-size: 1.8em; /* Larger font for main question */
    margin-bottom: 10px; /* Space between question and subtext */

  }
  
  .shc-section p {
    font-size: 1.4em; /* Slightly smaller font for the subtext */
  }